<ion-header>
  <ion-toolbar>
    <ion-title>Recept</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="outline" color="primary" (click)="addRating()"
        [disabled]="storageService.getUserEmail() === ''">
        <ion-icon slot="start" name="star"></ion-icon>
        Hodnotit
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button fill="outline" color="danger" (click)="deleteRecipeAlert()" *ngIf="recipe.own">
        <ion-icon slot="start" name="trash"></ion-icon>
        Smazat
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="recipe.own">
    <ion-fab-button (click)="recipeService.editRecipe(recipe.id)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <div class="recipe-container">
    <ion-grid>
      <ion-row>
        <ion-col sizeXl="6">
          <ion-card>
            <ion-item>
              <ion-icon name="restaurant-outline"></ion-icon>
              &nbsp;
              <ion-badge *ngIf="recipe.isPrivate" color="success">Privátní</ion-badge>
              <ion-label></ion-label>
              {{ recipe.rating }}&nbsp;
              <app-star-rating *ngIf="recipe.rating > 0" [number]="recipe.rating" size="small"></app-star-rating>
              <app-star-rating *ngIf="recipe.rating == 0" number="0" size="small"></app-star-rating>
            </ion-item>
            <ion-item lines="none">
              <h2>{{ recipe.name }}</h2>
            </ion-item>
            <ion-card-content>
              <app-image-slides *ngIf="recipe.images" [imagesSrc]="recipe.images">
              </app-image-slides>
              <ion-text>
                <p>{{ recipe.description }}</p>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeXl="6">

          <ion-card>
            <ion-card-header>
              <ion-card-title>Suroviny</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-ingredient-view *ngFor="let ingredient of recipe.ingredients" [quantity]="ingredient.quantity"
                [unit]="ingredient.unit" [name]="ingredient.name"></app-ingredient-view>
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="recipe.steps">
            <ion-card-header>
              <ion-card-title>Kroky</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-recipe-step *ngFor="let step of recipe.steps; index as i" [number]="i + 1" [text]="step">
              </app-recipe-step>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-grid class="ion-no-padding">
                  <ion-row class="ion-no-padding">
                    <ion-col class="ion-no-padding">Kometáře ({{ comments.length }})</ion-col>
                    <ion-col class="ion-no-padding ion-text-end">
                      <ion-button size="small" fill="clear" (click)="addComment()"
                        [disabled]="storageService.getUserEmail() === ''">
                        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-comment *ngFor="let c of comments" [date]="c.date" [author]="c.userId" [text]="c.text"></app-comment>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>