<ion-header>
  <ion-toolbar>
    <ion-title>Moje recepty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <app-recipe-list [recipeList]="recipeCards" (clickedEvent)="recipeService.openRecipe($event)"></app-recipe-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Načítám další…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>