<ion-header>
  <ion-toolbar>
    <ion-title>{{ (editRecipeId === null) ? "Nový recept" : "Úprava receptu" }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveRecipe()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="card-container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Základní informace</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Název receptu</ion-label>
          <ion-input [(ngModel)]="recipe.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Popis receptu</ion-label>
          <ion-textarea [(ngModel)]="recipe.description"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Kroky</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let step of recipe.steps; index as i; trackBy:trackByIdx">
          <ion-label position="fixed">Krok {{ i + 1}}</ion-label>
          <ion-input [(ngModel)]="recipe.steps[i]"></ion-input>
          <ion-button fill="clear" (click)="removeStep(i)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-button expand="block" (click)="addStep()">
          <ion-icon slot="start" icon="add-outline"></ion-icon>
          Přidat
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingredience</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let ingredient of recipe.ingredients; index as i">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding" size="3">
                <ion-label position="fixed">Hodnota</ion-label>
                <ion-input type="number" [(ngModel)]="recipe.ingredients[i].quantity"></ion-input>
              </ion-col>
              <ion-col class="ion-no-padding" size="2">
                <ion-label position="fixed">Jednotka</ion-label>
                <ion-input [(ngModel)]="recipe.ingredients[i].unit"></ion-input>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-label position="fixed">Název</ion-label>
                <ion-input [(ngModel)]="recipe.ingredients[i].name"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button fill="clear" (click)="removeIngredient(i)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-button expand="block" (click)="addIngredient()">
          <ion-icon slot="start" icon="add-outline"></ion-icon>
          Přidat
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Fotografie a viditelnost</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Nepublikovat veřejně</ion-label>
          <ion-toggle [(ngModel)]="recipe.isPrivate"></ion-toggle>
        </ion-item>
        <ion-item>
          <input alife-file-to-base64 type="file" id="file" (change)="handleFileInput($event)">
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3" *ngFor="let image of recipe.images; index as i">
              <ion-img [src]="image">
              </ion-img>
              <ion-button expand="block" fill="clear" (click)="removeImage(i)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
