<ion-card (click)="click()">
  <ion-item>
    <ion-icon name="restaurant-outline"></ion-icon>
    &nbsp;
    <ion-badge *ngIf="isPrivate" color="success">Privátní</ion-badge>
    <ion-label></ion-label>
    {{ stars }}&nbsp;
    <app-star-rating [number]="stars" size="small"></app-star-rating>
  </ion-item>
  <ion-item lines="none">
    <ion-label>{{ name }}</ion-label>
  </ion-item>
  <ion-card-content>
    <ion-img [src]="imageSrc" *ngIf="imageSrc !== ''">
    </ion-img>
  </ion-card-content>
</ion-card>