<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="showInputs">{{ (isRegister) ? "Registrace" : "Přihlášení" }}</ion-card-title>
      <ion-card-title *ngIf="!showInputs">Přihlášení a registrace</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="showInputs">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="loginForm.email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Heslo</ion-label>
          <ion-input [(ngModel)]="loginForm.password" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <div *ngIf="!showInputs">
        <ion-button expand="block" (click)="login()">Přihlásit se</ion-button>
        <div class="note-container">
          <ion-note>Nemáte účet?</ion-note>
        </div>
        <ion-button expand="block" color="medium" (click)="register()">Registrovat se</ion-button>
      </div>
      <ion-button *ngIf="showInputs" expand="block" (click)="complete()">Dokončit</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>