<ion-grid>
  <ion-row>
    <ion-col sizeLg="3" sizeMd="6" sizeXs="12" *ngFor="let recipe of recipeList">
      <app-recipe-card (clickedEvent)="clicked($event)" [name]="recipe.name" [stars]="recipe.stars"
        [isPrivate]="recipe.isPrivate" [id]="recipe.id" [imageSrc]="recipe.imageSrc">
      </app-recipe-card>
    </ion-col>
  </ion-row>
</ion-grid>