<ion-item lines="none">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="1" class="ion-no-padding">{{ quantity }}</ion-col>
      <ion-col size="1" class="ion-no-padding">{{ unit }}</ion-col>
      <ion-col class="ion-no-padding">{{ name }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-item>