<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-note>Zápočtový projekt na<br/> předmět TPNW2</ion-note>
    <ion-tab-button tab="list">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Všechny recepty</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my" [disabled]="storageService.getUserEmail() === ''">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Moje recepty</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="new" [disabled]="storageService.getUserEmail() === ''">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Přidat recept</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="goLogin()" *ngIf="storageService.getUserEmail() === ''">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Nepřihlášen</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="storageService.getUserEmail() !== ''">
      <ion-button (click)="logout()">Odhlásit</ion-button>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>