<ion-header>
  <ion-toolbar>
    <ion-title>Seznam receptů</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <ion-searchbar showCancelButton="focus" debounce="200" animated placeholder="Hledat recepty…" [(ngModel)]="searchQuery" (ionChange)="searchUpdate()"></ion-searchbar>
  </div>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <app-recipe-list [recipeList]="recipeCards" (clickedEvent)="recipeService.openRecipe($event)"></app-recipe-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Načítám další…">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>